body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    width: 95%;
    max-width: 900px;
    margin: 40px auto;
    padding-bottom: 100px;
    text-align: left;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 5px;
}

ul, ol {
  font-size: 18px;
  line-height: 1.8;
}

li {
  margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #999;
}
